{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        header{border-bottom: 1px solid black;}
        nav{background-color:grey;}
        link:hover{color:yellow;}
    </style>
{% endblock %}

{% block body %}
    <header class="container mt-3 pb-3">
        <h2 class="text-center">Suivi sportif personnalisé</h2>
    </header>
    <div class="d-flex container mt-5">
        <nav class="p-3">
            <ul class="list-unstyled">
                <li>
                    <a href="#" class="link text-decoration-none text-dark" data-toggle="modal" data-target="#ajoutSerie">Ajouter une série</a>
                </li>
                <li>
                    <a href="#" class="link text-decoration-none text-dark">Consulter mes performances</a>
                </li>
                <li>
                    <a href="#" class="link text-decoration-none text-dark">Voir mes objectifs</a>
                </li>
            </ul>
        </nav>
        <section>

        </section>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="ajoutSerie" tabindex="-1" role="dialog" aria-labelledby="ajoutSerie" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ajoutSerieLabel">Enregistrer une série</h5>
                </div>
                <div class="modal-body">
                    {{ form_start(form, {'action': path('enregistrer_serie'), 'method': 'POST'}) }}
                        {# champs nombre de répétitions #}
                        <div>
                            {{ form_label(form.nbRepetitions) }}
                            {{ form_widget(form.nbRepetitions) }}
                        </div>
                        <div>
                            {{ form_label(form.activitesId) }}
                            {{ form_widget(form.activitesId) }}
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <input type="submit" class="btn btn-primary" value="Ajouter série" />
               </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

